/* ==== Cards using Bootstrap === */

#cards .card {
    border-radius: 5px;
    min-height: 100%;
	width: 100%;
	align-content: center;
}

#cards .heading-border {
    position: absolute;
    width: 100%;
    top: 60%;
	align-content: center;
}

#cards .card .user-picture img {
    position: absolute;
    background: #f8f9fa!important;
    padding: 10px;
}


#cards .card .user-content .user-name {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 10px;
	color: #000;
	align-content: center;
}

.card:hover{
	background-color: lightgrey;
}

