{% extends "base.html" %}
{% block title %}Cadre{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='cadre.css') }}"/>
<script src= "{{ url_for('static', filename='js/cadre.js') }}"> </script>

<div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="images/img-1.jpg">
              </div>
              <div class="team-content">
                  <h3 class="title">Williamson</h3>
                  <span class="post">Web Developer</span>
                  <ul class="social">
                      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="our-team">
              <div class="pic">
                  <img src="images/img-2.jpg">
              </div>
              <div class="team-content">
                  <h3 class="title">Kristiana</h3>
                  <span class="post">Web Designer</span>
                  <ul class="social">
                      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}