{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}"/>
  
<main class="site-wrapper">
    <div class="pt-table desktop-768">
      <div class="pt-tablecell page-home relative" style="background-image: url(static/imgs/ftx-bn-pic-fall-2022.jpg);
      background-position: center;
      background-size: cover;">
                      <div class="overlay"></div>
  
                      <div class="container">
                          <div class="row">
                              <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                  <div class="page-title  home text-center">
                                    <span class="heading-page"> Royal Warrior Batallion 
                                    </span>
                                      <p class="mt20">Royal Warrior Battalion Army ROTC provides Cadets with the character-building aspects of a diverse, self-disciplined, Jesuit education with tough, leadership development training. Becoming an Army Officer will also help you in the civilian work force, as employers place a high value on workers who can manage others in stressful situations. 
                                        The Royal Warrior Battalion is comprised of Cadets from 10 colleges and universities located throughout Northeastern Pennsylvania and they are some of the finest scholars, athletes and student leaders those campuses have to offer. 
                                        The values of excellence, concern for the individual and a commitment to social justice complement the values of the U.S. Army that guide the program.</p>
                                  </div>
  
                                  <div class="hexagon-menu clear">
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content" id ="mission" href = "/mission">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-universal-access"></i>
                                                  </span>
                                                  <span class="title">Mission</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content"  id ="ms" href = "/ms">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-graduation-cap"></i>
                                                  </span>
                                                  <span class="title">Military Science Courses</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content" id="cadre" href = "/cadre">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-id-card-o"></i>
                                                  </span>
                                                  <span class="title">Cadre</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>    
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content" id ="scholar" href = "/scholar">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-info-circle"></i>
                                                  </span>
                                                  <span class="title">Scholarship Information</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content"  id ="bh" href = "/bh">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-history"></i>
                                                  </span>
                                                  <span class="title">Battalion History</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content" id ="upcoming" href = "/upcoming">
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-calendar"></i>
                                                  </span>
                                                  <span class="title">Upcoming Training Events</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                      <div class="hexagon-item">
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <div class="hex-item">
                                              <div></div>
                                              <div></div>
                                              <div></div>
                                          </div>
                                          <a  class="hex-content" id ="contact" href = "/contact" >
                                              <span class="hex-content-inner">
                                                  <span class="icon">
                                                      <i class="fa fa-map-signs"></i>
                                                  </span>
                                                  <span class="title">Contact</span>
                                              </span>
                                              <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
    </main>
    
{% endblock %}