{% extends "base.html" %}
{% block title %}Scholarship Opportunities{% endblock %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scholar.css') }}" />
<br>
<br>
    <h1  class="section-title mb-4" id="section1">High School Scholarship Campaign</h1>
    <p>High school students can compete for both three, four and five year Advance-Designee U.S. Army R.O.T.C. scholarships. Students can find scholarship requirements and apply on line. National Scholarship Boards are held at Fort Know Kentucky, every October, January and March to select the scholarship recipients. Students who meet medical, physical, legal and academic requirements and earn Three, Four or five Year Army R.O.T.C. scholarships will be awarded room and board scholarships from the university for four years. The window for applications is 12 June of the Junior year to 4 February of the senior year of high school.</p>
    <h2  class="section-title mb-4" id="section2">Campus Based Scholarship Opportunities</h2>
    <p>Non-contracted Cadets enrolled in Military Science Courses and students who meet all medical, physical, legal and academic requirements are eligible to compete for two, three and three and half year Army R.O.T.C. scholarships. These scholarships are extremely competitive and are awarded based on a Cadet's performance in both Military Science Courses and their declared academic major, as well as their involvement in activites both inside and outside of Military Science. Cadet and students apply at the Army ROTC office and applications are accepted from 1 October to 1 March each year.</p>

    <h2  class="section-title mb-4" id="section3">ROTC Basic Camp</h2>
    <p>Basic Camp is a 28 day course offered by U.S. Army Cadet Command at Fort Knox, Kentucky which affords those students who have not enrolled in Military Science Courses during the Freshman and Sophomore year or new graduate students to take this training in lieu of MSL 101/102/201/202. Those students who successfully complete the Basic Camp program of instruction are eligible to both enroll in upper division MSL courses (301/302) upon their return to campus, as well as compete for a limited number of two scholarships offered to students graduating at the top of Regiment. The Military Science Department is authorized a limited number of training seats each year for Basic Camp, therefore, those students who have an interest in attending the program should contact the Department during the first semester of their Sophomore year or the first year of their graduate school program.</p>

    <h2  class="section-title mb-4" id="section4">Green to Gold Program</h2>
    <p>Soldiers currently enlisted in Active Army have the opportunity to earn Army ROTC Scholarship or enroll in Army ROTC while still on active duty.  For more information on these programs visit the  Green to Gold web site.  The University of Scranton is a Yellow Ribbon Campaign participating school.</p>

      {% endblock %}