{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1F0Lg/P6lPlK6dRSdj313C1+g56Dz6Xh3Dp1k6" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1F0Lg/P6lPlK6dRSdj313C1+g56Dz6Xh3Dp1k6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9l+4Np" crossorigin="anonymous"></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Events</h5>
                    <div class="d-flex justify-content-between">
                        <button id="prevMonth" class="btn btn-primary">Prev</button>
                        <div id="calendar" class="table-responsive">
                            <!-- Calendar will be generated here -->
                        </div>
                        <button id="nextMonth" class="btn btn-primary">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  // Generate the calendar with nice CSS
  document.addEventListener("DOMContentLoaded", function() {
      var today = new Date();
      var currentMonth = today.getMonth();
      var currentYear = today.getFullYear();
      var calendarDiv = document.getElementById("calendar");

      function generateCalendar(month, year) {
          var firstDay = (new Date(year, month)).getDay();
          var daysInMonth = 32 - new Date(year, month, 32).getDate();

          var calendarHtml = '<table class="table table-bordered">';
          calendarHtml += '<thead>';
          calendarHtml += '<tr><th colspan="7">' + (new Date(year, month)).toLocaleString('default', { month: 'long' }) + ' ' + year + '</th></tr>';
          calendarHtml += '<tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>';
          calendarHtml += '</thead><tbody><tr>';

          for (var i = 0; i < firstDay; i++) {
              calendarHtml += '<td class="bg-secondary"></td>';
          }

          for (var day = 1; day <= daysInMonth; day++) {
              if ((day + firstDay) % 7 === 1) {
                  calendarHtml += '</tr><tr>';
              }

              calendarHtml += `<td>${day}</td>`;
          }

          if (day === daysInMonth && (day + firstDay) % 7 !== 0) {
              for (var j = (day + firstDay) % 7; j < 7; j++) {
                  calendarHtml += '<td class="bg-secondary"></td>';
              }
          }

          calendarHtml += '</tr></tbody></table>';
          calendarDiv.innerHTML = calendarHtml;
      }

      generateCalendar(currentMonth, currentYear);

      document.getElementById('prevMonth').addEventListener('click', function() {
          if (currentMonth === 0) {
              currentMonth = 11;
              currentYear--;
          } else {
              currentMonth--;
          }
          generateCalendar(currentMonth, currentYear);
      });

      document.getElementById('nextMonth').addEventListener('click', function() {
          if (currentMonth === 11) {
              currentMonth = 0;
              currentYear++;
          } else {
              currentMonth++;
          }
          generateCalendar(currentMonth, currentYear);
      });
  });
</script>



  {% endblock %}