body {
  font-family: "United Sans Reg";
  font-weight: 10;
  font-size: 16px;
  line-height: 30px;
  background-color: #0c0f15;
  overflow-x:hidden;
  color: #ababab; }
tbody{
  background-color: white;

}
